@using Blazor.Data.Models;
@using Blazor.Services;

@inject NavigationManager _navigationManager

<h1>Расписание</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>ID тура</th>
        <th>Дата начала тура</th>
        <th>Дата окончания тура</th>
        <th>Свободные места</th>
    </tr>
    </thead>
    <tbody>
    @if (schedules != null)
    {
       @foreach (var schedule in schedules)
        {
            <tr>
                <td>@schedule.IdS</td>
                <td>@schedule.Id</td>
                <td>@schedule.DateBegin</td>
                <td>@schedule.DateEnd</td>
                <td>@schedule.FreePlaces</td>
            </tr>
        }
    }

    @code{
    private List<Schedule>? schedules;
    [Inject]
    private IScheduleProvider schedulesProvider { get; set; }
    protected override async Task OnInitializedAsync()
    {
        schedules = await schedulesProvider.GetAll();
    }
    public void toItem(Schedule schedule)
    {
        _navigationManager.NavigateTo($"/Schedule/{schedule.IdS}");
    }
}

    </tbody>
</table>
